  <div class="landing-container">
      <h1>Welcome to Micro Frontends</h1>
      <h2>Micro Frontends with Angular: A Complete Guide</h2>
      <h3>Introduction</h3>
      <p class="intro">
        Modern web applications are growing rapidly in size and complexity. As a result, development teams face challenges in scalability, deployment, and maintainability. One approach that addresses these challenges is Micro Frontends (MFE).<br>
        Micro Frontends extend the concept of microservices to the frontend world by breaking the frontend monolith into smaller, manageable pieces that can be developed, tested, and deployed independently by different teams.
      </p>
      <h2>What is Micro Frontend?</h2>

      <p class="definition">
        Micro Frontends is an architectural style where a web application is composed of multiple smaller, independent applications (microapps) that can be developed and deployed separately. Each microapp can be built using different technologies, allowing teams to choose the best tools for their specific needs.</p>
        Each micro frontend:    
      <ol class="steps">
        <li>
            Is owned by a specific team.
        </li>
        <li>
          Is built with its own framework (Angular, React, Vue, etc.) — though using the same framework helps reduce complexity.
        </li>
        <li>
            Can be deployed separately.
        </li>
        <li>
          Communicates with the host or shell app via module federation or APIs.
        </li>
      </ol>

      <p class="definition">
        Benefits
      </p>
      <ol class="steps">
        <li>
            <strong>Scalability:</strong> Teams can work on different microapps independently, allowing for parallel development and faster releases.
        </li>
        <li>
            <strong>Flexibility:</strong> Teams can choose the best technology stack for their microapp, enabling innovation and experimentation.
        </li>
        <li>
            <strong>Maintainability:</strong> Smaller codebases are easier to maintain, test, and debug.
        </li>
        <li>
            <strong>Resilience:</strong> If one microapp fails, it does not affect the entire application, improving overall reliability.
        </li>
      </ol>

      <h2>Micro Frontends with Angular</h2>
      <button routerLink="/step-guide" class="feature-btn">Step By Step Guide - ></button>
</div>